body {
  font-family: cursive;
  font-size: 18px;
  line-height: 3;
  background-color: rgb(10, 159, 245);
}

main {
  margin-bottom: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 10px;
  border-bottom: 8px double;
}

#moment-time {
  font-size: 20px;
  background-color: white;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  padding: 5px;
}

#color-legend {
  margin: 0 10% 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  height: 50px;
}

#color-legend div {
  width: 500px;
  padding: 10px 0 10px 0;
  border-radius: 15px;
  margin-top: 10px;
}

h1 {
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h2 {
  font-size: 20px;
  margin-top: 30px;
  font-style: italic;
}

#gray-column {
  background-color: #a9a9a9;
}

#red-column {
  background-color: #dc143c;
}

#green-column {
  background-color: #32cd32;
}

.sections {
  margin-top: 50px;
}

#clear {
  text-align: center;
}

.foot {
  text-align: center;
}

.email {
  color: black;
}

@media screen and (max-width: 680px) {
  #color-legend {
    font-size: 15px;
    height: 10px;
  }
}
